:root {
  --bright-green: #38d247;
  --muted-green: rgba(72, 214, 69, 0.5);
  --dark-green: #102b19;
  --blue: #43a9ff;
  --light-blue: #56cefd;
  --white: #fff;
  --font-family-hdr: "Zilla Slab", serif;
  --font-family-body: "Roboto", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Zilla+Slab:wght@300;400;600&display=swap");

body {
  font-family: var(--font-family-body);
  font-weight: 400;
  background-color: var(--dark-green);
  background: var(--muted-green);
  background: radial-gradient(
    circle,
    rgba(58, 135, 54, 1) 0%,
    rgba(16, 43, 25, 1) 100%
  );
  color: var(--white);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: var(--font-family-hdr);
}
.accordion {
  margin-bottom: 30px;
}
body .bg-light {
  background-color: var(--muted-green) !important;
}
body .nav-link.active,
body .nav-link:hover {
  color: var(--bright-green);
}
